*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
background-color: rgb(13, 4, 45);
}

.screen{
    display:flex;
    justify-content: center;
    align-items: center;  
    height:100vh;  
    text-align: center;
}
.text h1{
    color:aliceblue;
    
}
.text h3{
    color:rgb(135, 9, 85);
    margin:15px 0;
}
.search_line{
    border-radius:20px;
    width:100%;
    padding:10px;
    border:none;
}

.search_bar{
    width:100%;
    position:relative;
    overflow:hidden;
    border-radius:20px;
}
.search_icon{
    background-color:rgb(140, 238, 140);
    height:100%;
    width:25%;
    position:absolute;
    right:0; 
    display:flex;
    align-items: center;
    justify-content: center;  
}
.date{
    padding:5px 5px;
    
}
.time{
    padding:10px;  
}
